.hero {
  padding-bottom: 35px;
}

.hero__title {
  margin-bottom: 25px;
  font-weight: 700;
  font-size: 35px;
  line-height: 41px;
  text-align: center;
  color: #383A4C;
}

.hero__about {
  font-weight: 500;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #383A4C;
  margin-bottom: 35px;
}

.hero__about-text {
  margin: 0 auto;
  margin-bottom: 56px;
  max-width: 724px;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  color: #383A4C;
}

.hero__list {
  display: flex;
  justify-content: center;
  counter-reset: count;
  gap: 50px;
}

.hero__item {
  position: relative;
  counter-increment: count;
}

.hero__item:after {
  position: absolute;
  content: counter(count);
  top: 6px;
  left: 38px;
  font-weight: 500;
  font-size: 57px;
  line-height: 100%;
  color: #FFFFFF;
  padding: 33px 44px;
  background-color: #23C7EC;
  border-radius: 50%;
}

.hero__item-button--left > svg > g > ellipse {
  fill: #4B4D62;
  fill-opacity: 0.72;
}

.hero__item-button--left > svg > path {
  fill: #fff;
}

.hero__item-button > svg > g > ellipse:active {
  fill: #23C7EC;
}

figure {
  text-align: center;
}

.hero__item-text {
  padding-top: 138px;
  max-width: 196px;
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: #383A4C;
}

.hero__img {
  margin-bottom: 16px;
}

.hero__item-button {
  border: none;
  background: inherit;
  display: none;
}

.hero__item-button--right {
  right: 0;
  top: 52%;
  position: absolute;
}

.hero__item-button--left {
  left: 0;
  top: 52%;
  position: absolute;
}

@media (max-width: 1200px) {

    .hero__list {
      flex-wrap: wrap;
    }
    .hero__title {
      font-weight: 700;
      font-size: 32px;
      line-height: 38px;
    }
    .hero__about-text {
      font-weight: 400;
      font-size: 16px;
      line-height: 23px;
    }
    .hero__item:after {
      top: 27px;
      left: 50px;
      padding: 9px 31px;
      font-weight: 500;
      font-size: 52px;
      line-height: 73px;
    }
    .hero__item-text {
      font-weight: 500;
      font-size: 18px;
      line-height: 25px;
      text-align: center;
    }
}

@media (max-width: 1024px) {
  .hero__title {
    margin-bottom: 24px;
  }
  .hero__about {
    font-size: 20px;
    line-height: 23px;
    margin-bottom: 30px;
  }
  .hero__about-text {
    max-width: 666px;
    margin-bottom: 40px;
  }
  .hero__list {
    gap: 35px;
  }
  .hero__item:after {
    top: 21px;
    left: 46px;
    padding: 14px 37px;
  }
  .hero__item-text {
    padding-top: 148px;
  }
}


@media (max-width: 400px) {
  .hero__list {
    align-items: center;
    flex-direction: column;
  }
  .hero__title {
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
  }
  .hero__about-text {

    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
  }
  .hero__item:after {
    content: none;
    left: 32px;
    top: 10px;
    padding: 31px 52px;
    font-weight: 500;
    font-size: 52px;
    line-height: 73px;
  }
  .hero__item-text {
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
  }

  .hero__item-img1 {
    background-image: url("../img/1.jpg");
    background-repeat: no-repeat;
    background-position: 44px 35px;
  }
  .hero__item-img2 {
    background-image: url("../img/2.jpg");
    background-repeat: no-repeat;
    background-position: 44px 35px;
  }
  .hero__item-img3 {
    background-image: url("../img/3.jpg");
    background-repeat: no-repeat;
    background-position: 44px 35px;
  }
  .hero__item-img4 {
    background-image: url("../img/4.jpg");
    background-repeat: no-repeat;
    background-position: 44px 35px;
  }
  .hero__item-button {
    display: block;
  }

  .no__vis {
    display: none;
  }
}

@media (max-width: 320px) {
  .hero__title {
    width: 261px;
    margin-bottom: 17px;
  }

  .hero__about {
    font-size: 16px;
    line-height: 19px;
  }

  .hero__about-text {
    margin-bottom: 22px;
  }

  .hero__list {
    gap: 24px;
  }

  .hero__item:after {
    left: 47px;
    top: 20px;
    padding: 14px 36px;
  }
}

